
{% block sw_cms_block_custom_text %}
    <div class="sw-cms-block-custom-text">
        <slot name="customText">
            {% block sw_cms_block_custom_text_slot_text_content %}{% endblock %}
        </slot>
    </div>
{% endblock %}
