{% block sw_cms_element_top_selling_product_slider_config %}
    <div class="sw-cms-el-config-top-selling-product-slider">

        {% block sw_cms_element_top_selling_product_slider_config_tabs %}
            <sw-tabs
                position-identifier="sw-cms-element-config-top-selling-product-slider"
                class="sw-cms-el-config-top-selling-product-slider__tabs"
                default-item="content"
            >

                <template
                    slot="content"
                    slot-scope="{ active }"
                >

                    {% block sw_cms_element_top_selling_product_slider_config_content %}
                        <sw-container
                            v-if="active === 'content'"
                            class="sw-cms-el-config-top-selling-product-slider__tab-content"
                        >

                            <sw-cms-mapping-field
                                v-model="element.config.content"
{#                                :label="$tc('sw-cms.elements.text.config.label.content')"#}
                                value-types="entity"
                                entity="category"
                            >
{#                                <sw-entity-single-select#}
{#                                    v-model="category.categoryId"#}
{#                                    class="sw-category-detail__category-single-select"#}
{#                                    entity="category"#}
{#                                    :criteria="categoryCriteria"#}
{#                                    :label="$tc('sw-category.detail.labelCategory')"#}

{#                                    show-clearable-button#}
{#                                    validation="required"#}
{#                                    :error="brandsManufacturerIdError"#}
{#                                    required#}
{#                                />#}
                                <div
                                    slot="preview"
                                    slot-scope="{ demoValue }"
                                    class="sw-cms-el-config-top-selling-product-slider__mapping-preview"
                                >
                                    <div v-html="$sanitize(demoValue)"></div>
                                </div>
                            </sw-cms-mapping-field>


                            {% block sw_cms_element_top_selling_product_slider_config_content_title %}
                                <sw-field
                                    v-model="element.config.title.value"
                                    type="text"
                                    :label="$tc('sw-cms-top-selling-product-slider.elements.topSellingProductSlider.config.label.title')"
                                    :placeholder="$tc('sw-cms-top-selling-product-slider.elements.topSellingProductSlider.config.placeholder.title')"
                                />
                            {% endblock %}

                            {% block sw_cms_element_top_selling_product_slider_config_settings_box_layout %}
                                <sw-select-field
                                    v-model="element.config.boxLayout.value"
                                    :label="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.layoutType')"
                                >
                                    <option value="standard">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.layoutTypeStandard') }}
                                    </option>
                                    <option value="image">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.layoutTypeImage') }}
                                    </option>
                                    <option value="minimal">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.layoutTypeMinimal') }}
                                    </option>
                                </sw-select-field>
                            {% endblock %}

                            {% block sw_cms_element_top_selling_product_slider_config_settings_display_mode %}
                                <sw-select-field
                                    v-model="element.config.displayMode.value"
                                    :label="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayMode')"
                                >
                                    <option value="standard">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayModeStandard') }}
                                    </option>
                                    <option value="cover">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayModeCover') }}
                                    </option>
                                    <option value="contain">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayModeContain') }}
                                    </option>
                                </sw-select-field>
                            {% endblock %}

                            {% block sw_cms_element_top_selling_product_slider_config_settings_vertical_align %}
                                <sw-select-field
                                    v-model="element.config.verticalAlign.value"
                                    :label="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.verticalAlign')"
                                    :placeholder="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.verticalAlign')"
                                >
                                    <option value="flex-start">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.verticalAlignTop') }}
                                    </option>
                                    <option value="center">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.verticalAlignCenter') }}
                                    </option>
                                    <option value="flex-end">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.verticalAlignBottom') }}
                                    </option>
                                </sw-select-field>
                            {% endblock %}

                            {% block sw_cms_element_top_selling_product_slider_config_top_selling_product %}
                                <sw-select-field
                                    v-model="element.config.bestSellProductDay.value"
                                    :label="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.bestSellProductDay')"
                                    :placeholder="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.bestSellDaysSelection')"
                                >
                                    <option value="7">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayBestSellSevenDays') }}
                                    </option>
                                    <option value="30">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayBestSellThirtyDays') }}
                                    </option>

                                </sw-select-field>
                            {% endblock %}

                            {% block sw_cms_element_top_selling_product_slider_config_top_selling_product_multiple %}
                                <sw-select-field
                                    v-model="element.config.bestSellProductMultiple.value"
                                    :label="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.bestSellProductMultiple')"
                                    :placeholder="$tc('sw-cms-top-selling-product-slider.elements.general.config.label.bestSellMultipleSelection')"
                                >
                                    <option value="3">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayBestSellThreeMultiple') }}
                                    </option>
                                    <option value="6">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayBestSellSixMultiple') }}
                                    </option>
                                    <option value="9">
                                        {{ $tc('sw-cms-top-selling-product-slider.elements.general.config.label.displayBestSellNineMultiple') }}
                                    </option>

                                </sw-select-field>
                            {% endblock %}



{#                            {% block sw_cms_element_top_selling_product_slider_config_content_products %}#}
{#                                <sw-entity-multi-select#}
{#                                    v-model="productCollection"#}
{#                                    class="sw-cms-el-config-top-selling-product-slider__products"#}
{#                                    :label="$tc('sw-cms-top-selling-product-slider.elements.topSellingProductSlider.config.label.selection')"#}
{#                                    :placeholder="$tc('sw-cms-top-selling-product-slider.elements.topSellingProductSlider.config.placeholder.selection')"#}
{#                                    :context="productMultiSelectContext"#}
{#                                    :criteria="productMediaFilter"#}
{#                                    @change="onProductsChange"#}
{#                                >#}
{#                                    <template #selection-label-property="{ item }">#}
{#                                        <sw-product-variant-info#}
{#                                            :variations="item.variation"#}
{#                                        >#}
{#                                            {{ item.translated.name || item.name }}#}
{#                                        </sw-product-variant-info>#}
{#                                    </template>#}
{#                                    <template #result-item="{ item, index }">#}
{#                                        <slot#}
{#                                            name="result-item"#}
{#                                            v-bind="{ item, index }"#}
{#                                        >#}
{#                                            <li#}
{#                                                is="sw-select-result"#}
{#                                                v-bind="{ item, index, selected: isSelected(item.id)}"#}
{#                                            >#}

{#                                                {% block sw_entity_single_select_base_results_list_result_label %}#}
{#                                                    <span class="sw-select-result__result-item-text">#}
{#                                    <sw-product-variant-info#}
{#                                        :variations="item.variation"#}
{#                                    >#}
{#                                        {{ item.translated.name || item.name }}#}
{#                                    </sw-product-variant-info>#}
{#                                </span>#}
{#                                                {% endblock %}#}
{#                                            </li>#}
{#                                        </slot>#}
{#                                    </template>#}
{#                                </sw-entity-multi-select>#}
{#                            {% endblock %}#}
                        </sw-container>
                    {% endblock %}


                </template>
            </sw-tabs>
        {% endblock %}
    </div>
{% endblock %}
