{% block block_top_selling_product_slider %}
    {% set element = block.slots.getSlot('topSellingProductSlider') %}
    {% set columns = 1 %}
    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_top_selling_product_slider_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
