
{% block sw_cms_element_custom_image_preview %}
    <div class="sw-cms-el-preview-custom-image">
        <img
            :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
            alt=""
        >
    </div>
{% endblock %}
